h1 {
    all: unset;
    color: aliceblue;
    font-size: clamp(25px, 2vw, 100px);
    font-family: monospace;
    font-weight: 600;
}

h2 {
    all: unset;
    color: aliceblue;
    font-size: clamp(20px, 1.7vw, 100px);
    font-family: "Kumar One", serif;
    font-weight: 400;
    margin-top: 1vw;
}

.ArticleHeadContainer {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewsTitle {
    background-color: rgb(25, 25, 25);
    margin-top: 1vw;
    justify-content: center;
    width: 99%;
    text-align: center;
    padding: 0.2vw;
}

.NewsArticleImage {
    display: block;
    height: clamp(100px, 20vw, 1000px);
    width: 40vw;
    border-radius: 2px;
    margin-top: 1vw;
    object-fit: cover;
}

#NewsDescriptionText {
    display: block;
    background-color: transparent;
    color: rgb(210, 210, 210);
    font-size: clamp(20px, 1.5vw, 100px);
    word-break: normal;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-family: monospace;
    font-weight: 100;
    padding-left: 15vw;
    padding-right: 15vw;
}

.ArticleMainBody {
    background-color: transparent;
    position: relative;
}

.ArticleTable {
    background-color: transparent;
    height: infinite;
    width: 45vw;
    margin-left: 20vw;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArticleText {
    font-size: clamp(15px, 1.5vw, 100px);
    font-family: "Kumar One", serif;
    color: rgb(255, 255, 255);
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-family: normal;
    font-weight: 200;
    margin: 0;
}


#BackToMainPageButton {
    display: inline-block;
    background-color: rgb(25, 25, 25);
    margin: calc(1vw + 5px);
    padding: 0.5vw;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    transition: background-color 0.3s;
    font-family: "Kumar One", serif;
}

#BackToMainPageButton:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

#BackToMainPageButton:active {
    background-color: rgb(27, 27, 27);
}

.ArticleInfo {
    margin-top: 5%;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Kumar One", serif;
    font-size: 1vw;
}

.ArticleInfo p {
    display: inline-block;
    margin: 0;
    margin-left: 3px;
}

.TrendingListTable {
    margin-left: 70%;
    margin-top: 5%;
    position: absolute;
    background-color: rgb(44, 44, 44);
    border-radius: 5%;
    display: inline-block;
    width: 25vw;
    height: 25vw;
    padding-bottom: 0.5vw;
}

#TrendingNowText {
    color: white;
    display: block;
    text-align: center;
    font-family: "Kumar One", serif;
    margin-bottom: 0.2vw;
    font-size: 1vw;
}

.TrendingNewsContainer {
    display: block;
    position: relative;
    background-color: rgb(37, 37, 37);
    margin: 4px;
    margin-left: 2%;
    width: 96%;
    height: 27%;
    border-radius: 4px;
}

.TrendingNewsArticleImage {
    display: inline-block;
    margin-left: 1.2vw;
    object-fit: cover;
    width: 45%;
    height: 4.8vw;
    margin-top: 0.6vw;
    border-radius: 0.8px;
}

.TrendingNewsArticleImage:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition-duration: 0.1s;
}

.TrendingNewsTitle {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 10.5vw;
    height: 4.8vw;
    color: aliceblue;
    top: 5%;
    left: 55%;
    font-size: 1vw;
    word-wrap: break-word;
    overflow: hidden;
    padding: 0.2vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 600;
    cursor: pointer;
}

.TrendingNewsTitle:hover {
    text-decoration: underline;
}

.TrendingNewsTitle:active {
    color: rgb(220, 20, 60);
}

.TrendingNewsCategoryType {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 50%;
    height: 0.6vw;
    color: aliceblue;
    top: 68%;
    left: 5%;
    font-size: 0.8vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.2vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 100;
}


.NextArticleListTable {
    margin-left: 70%;
    margin-top: -5%;
    position: absolute;
    background-color: rgb(44, 44, 44);
    border-radius: 5%;
    display: inline-block;
    width: 25vw;
    height: 10vw;
    padding-bottom: 0.5vw;
}

#NextArticleText {
    color: white;
    display: block;
    text-align: center;
    font-family: "Kumar One", serif;
    margin-bottom: 0.2vw;
    font-size: 1vw;
}

.NextArticleNewsContainer {
    display: block;
    position: relative;
    background-color: rgb(37, 37, 37);
    margin: 4px;
    margin-left: 2%;
    width: 96%;
    height: 70%;
    border-radius: 4px;
}

.NextArticleNewsImage {
    display: inline-block;
    margin-left: 1.2vw;
    object-fit: cover;
    width: 45%;
    height: 4.8vw;
    margin-top: 0.6vw;
    border-radius: 0.8px;
}

.NextArticleNewsImage:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition-duration: 0.1s;
}

.NextArticleNewsTitle {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 10.5vw;
    height: 4.8vw;
    color: aliceblue;
    top: 5%;
    left: 55%;
    font-size: 1vw;
    word-wrap: break-word;
    overflow: hidden;
    padding: 0.2vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 600;
    cursor: pointer;
}

.NextArticleNewsTitle:hover {
    text-decoration: underline;
}

.NextArticleNewsTitle:active {
    color: rgb(220, 20, 60);
}

.NextArticleNewsCategoryType {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 50%;
    height: 0.6vw;
    color: aliceblue;
    top: 68%;
    left: 5%;
    font-size: 0.8vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.2vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 100;
}