h1 {
    all: unset;
    color: aliceblue;
    font-size: clamp(25px, 2vw, 100px);
    font-family: monospace;
    font-weight: 600;
}

h2 {
    all: unset;
    color: aliceblue;
    font-size: clamp(20px, 1.7vw, 100px);
    font-family: "Kumar One", serif;
    font-weight: 400;
    margin-top: 1vw;
}

.ArticleHeadContainer {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewsTitle {
    background-color: rgb(25, 25, 25);
    margin-top: 1vw;
    justify-content: center;
    width: 99%;
    text-align: center;
    padding: 0.2vw;
}

.NewsArticleImage {
    display: block;
    height: clamp(100px, 20vw, 1000px);
    width: 40vw;
    border-radius: 2px;
    margin-top: 1vw;
    object-fit: cover;
}

.NewsDescription {
    display: block;
    background-color: transparent;
    color: rgb(210, 210, 210);
    font-size: clamp(20px, 1.5vw, 100px);
    word-break: normal;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-family: monospace;
    font-weight: 100;
    padding-left: 15vw;
    padding-right: 15vw;
}

.ArticleTable {
    background-color: transparent;
    height: infinite;
    width: 45vw;
    margin-left: 20vw;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArticleText {
    font-size: clamp(15px, 1.5vw, 100px);
    font-family: "Kumar One", serif;
    color: rgb(255, 255, 255);
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-family: normal;
    font-weight: 200;
    margin: 0;
}


#BackToMainPageButton {
    display: inline-block;
    background-color: rgb(25, 25, 25);
    margin: calc(1vw + 5px);
    padding: 0.5vw;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    transition: background-color 0.3s;
    font-family: "Kumar One", serif;
}

#BackToMainPageButton:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

#BackToMainPageButton:active {
    background-color: rgb(27, 27, 27);
}