button {
    all: unset;
    /* Resets all inherited and default properties */
    display: inline-block;
    /* Restores block-like behavior */
    cursor: pointer;
    /* Adds pointer cursor for usability */
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    border-radius: 20px;
}

a {
    all: unset;
}

.MainPageHolder {
    height: infinite;
    margin: 15px;
    margin-bottom: 0px;
    background-color: rgb(16, 16, 16);
}

.NewsListTable {
    background-color: rgb(20, 20, 20);
    height: infinite;
    width: 65vw;
    margin-left: 10vw;
    margin-right: 40vw;
}

.NewsCategories {
    position: relative;
    background-color: transparent;
    width: 65vw;
    height: 2vw;
    padding-top: 30px;

}

.NewsCategoriesFlexList {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.CategoriesButton {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: clamp(3px, 1vw, 200px);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.CategoriesButton:hover {
    color: rgb(95, 95, 95);
}

#NewsCategoriesLine {
    background-color: white;
    width: 65vw;
    height: 0.2vw;
    left: 15%;
    border-radius: 10px;

}

.NewsContainer {
    display: inline-block;
    position: relative;
    background-color: rgb(37, 37, 37);
    margin: 10px;
    margin-left: 30px;
    width: 55vw;
    height: 15vw;
    border-radius: 10px;
}

.NewsArticleImage {
    display: inline-block;
    margin-left: 3vw;
    object-fit: cover;
    width: 22vw;
    height: 12vw;
    margin-top: 1.5vw;
    border-radius: 2px;
}

.NewsArticleImage:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition-duration: 0.1s;
}

.NewsTitle {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 27.5vw;
    height: 3.1vw;
    color: aliceblue;
    top: 5%;
    left: 26vw;
    font-size: 1.5vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1.2;
    font-family: "Kumar One", serif;
    font-weight: 600;
    cursor: pointer;
}

.NewsTitle:hover {
    text-decoration: underline;
}

.NewsTitle:active {
    color: rgb(220, 20, 60);
}


.NewsDescription {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 27.5vw;
    height: 4.5vw;
    color: rgb(210, 210, 210);
    top: 25%;
    left: 26vw;
    font-size: 1vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1;
    font-family: monospace;
    font-weight: 100;
}

.NewsCategoryType {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 15vw;
    height: 1vw;
    color: aliceblue;
    top: 75%;
    left: 26vw;
    font-size: 1vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 100;
}