button {
    all: unset;
    /* Resets all inherited and default properties */
    display: inline-block;
    /* Restores block-like behavior */
    cursor: pointer;
    /* Adds pointer cursor for usability */
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    border-radius: 20px;
}

a {
    all: unset;
}


body {
    margin: 0;
    background-color: rgb(37, 37, 37);
    overflow: visible;
    cursor: default;
}

header {
    width: auto;
    height: 55px;
    position: sticky;
    top: 0;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.DropDownLanguageMenu {
    margin-left: clamp(0px, 2vw, 85px);
    font-size: clamp(10px, 1vw, 16px);
}

.DropDownLanguageMenu button {
    background-color: transparent;
    width: calc(4vw + 55px);
    height: clamp(25px, 2.5vw, 35px);
    border-radius: 10px;
    color: whitesmoke;

    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#CurrentLanguage {
    color: rgb(220, 20, 60);
}

.DropDownLanguageMenu button:hover {
    background-color: rgb(95, 95, 95);
}

.DropDownLanguageMenu button:active {
    transition-duration: 0.1s;
    background-color: rgb(55, 55, 55)
}

.LogoText {
    color: white;
    margin-left: auto;
    display: inline-block;
    font-size: clamp(25px, 5vw, 45px);
    font-family: Georgia, serif;
    font-weight: 500;
}

.SignInButton {
    background-color: white;
    margin-left: auto;
    margin-right: 5vw;
    width: calc(5vw + 35px);
    height: 35px;
    font-size: 1rem;
}

.MainPageHolder {
    height: infinite;
    margin: 15px;
    margin-bottom: 0px;
    background-color: rgb(16, 16, 16);
    /* bg temporary, later probably invisible*/
}

.NewsListTable {
    background-color: rgb(20, 20, 20);
    height: infinite;
    width: 65vw;
    margin-left: 10vw;
    margin-right: 40vw;
}

.NewsCategories {
    position: relative;
    background-color: transparent;
    width: 65vw;
    height: 2vw;
    padding-top: 30px;

}

.NewsCategoriesFlexList {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.CategoriesButton {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: clamp(3px, 1vw, 200px);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.CategoriesButton:hover {
    color: rgb(95, 95, 95);
}

#NewsCategoriesLine {
    background-color: white;
    width: 65vw;
    height: 0.2vw;
    left: 15%;
    border-radius: 10px;

}

.NewsContainer {
    display: inline-block;
    position: relative;
    background-color: rgb(37, 37, 37);
    margin: 5px;
    margin-left: 30px;
    width: 55vw;
    height: 15vw;
    border-radius: 10px;
}

.NewsArticleImage {
    display: block;
    margin-left: 3vw;
    object-fit: cover;
    width: 22vw;
    height: 12vw;
    margin-top: 1.5vw;
    border-radius: 2px;
}

.NewsArticleImage:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition-duration: 0.1s;
}

.NewsTitle {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 27.5vw;
    height: 3.1vw;
    color: aliceblue;
    top: 5%;
    left: 26vw;
    font-size: 1.5vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1.2;
    font-family: "Kumar One", serif;
    font-weight: 600;
    cursor: pointer;
}

.NewsTitle:hover {
    text-decoration: underline;
}

.NewsTitle:active {
    color: rgb(220, 20, 60);
}


.NewsDescription {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 27.5vw;
    height: 4.5vw;
    color: rgb(210, 210, 210);
    top: 25%;
    left: 26vw;
    font-size: 1vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1;
    font-family: monospace;
    font-weight: 100;
}

.NewsCategoryType {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 15vw;
    height: 1vw;
    color: aliceblue;
    top: 75%;
    left: 26vw;
    font-size: 1vw;
    word-break: normal;
    overflow: hidden;
    padding: 0.5vw;
    line-height: 1;
    font-family: "Kumar One", serif;
    font-weight: 100;
}